<div class="text-center">
  <h2>Hospitals</h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Doctors</th>
    </tr>
  </thead>
  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.name %></td>
        <td><%= hospital.location %></td>
        <td><%= link_to 'Doctors',hospital_doctors_path(hospital), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add New Hospital', new_hospital_path ,class: "btn btn-success" %>
