<div class="text-center">
  <h1>Appointments</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Appointment Date</th>
    </tr>
  </thead>
  <tbody>
    <% @doctor.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.appointment_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add Appointment', new_doctor_appointment_path,class:"btn btn-success" %>
